<!-- <h1>Hello ! Welcome</h1>
<app-textcomponent></app-textcomponent>

<ncomponent></ncomponent> //Comment
<app-imagecomponent></app-imagecomponent> -->

<!--
<h1>Employee Details </h1>
<img src="assets/logo.png" alt="" style="height:100px ;width:250px; " class="center">
<br>
<app-emp-info></app-emp-info>
-->


<!-- <img src="../assets/logo.png" alt="" class="center" width="200" height="80" display:block >
<!-- <app-form-components></app-form-components> //Comment

<app-e-info></app-e-info>
 -->
<!--
 <app-navbar></app-navbar>
<app-intro></app-intro>
<app-courses></app-courses>
<app-footer></app-footer>
 -->

 <app-nav-bar></app-nav-bar>
