<button type="button" name="button" (click)='getInfoFromServiceClass1()'> Employee1 </button>
<ul class="list-group">
  <li *ngFor = "let info of infoReceived1" class="list-group-items" >{{info}}</li>
</ul>
<pre></pre>

<button type="button" name="button" (click)='getInfoFromServiceClass2()'> Employee2 </button>
<ul class="list-group">
  <li *ngFor = "let info of infoReceived2" class="list-group-items" >{{info}}</li>
</ul>
<pre></pre>

<button type="button" name="button" (click)='getInfoFromServiceClass3()'> Employee3 </button>
<ul class="list-group">
  <li *ngFor = "let info of infoReceived3" class="list-group-items" >{{info}}</li>
</ul>
<pre></pre>



